@mixin button($color_fondo, $color_texto) {
    border: none;
    background-color: $color_fondo;
    color: $color_texto;
    letter-spacing: 1px;
    font-size: .7rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 30%;
    height: 30px;
    box-shadow: 0 4px #2f6fbe;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    &:hover {
        position: relative;
        top: 2px;
        box-shadow: 0 2px #2f6fbe;
    }
    &:active {
        position: relative;
        top: 4px;
        box-shadow: 0 0px #2f6fbe;
    }
}

@mixin botones_redes() {
    li {
        a {
            color: white;
            font-size: 25px;
            text-shadow: 0 0 3px rgba($color: #fff, $alpha: 0.5);
        }
        a:hover {
            .fa {
                scale: 1.2;
                text-shadow: 0 0 1px rgba($color: #fff, $alpha: 0.2);
            }
        }
    }
    li:nth-child(1) {
        a:hover {
            .fa {
                color: #4dc247;
            }
        }
    }
    li:nth-child(2) {
        a:hover {
            .fa {
                color: #3b5998;
            }
        }
    }
    li:nth-child(3) {
        a:hover {
            .fa {
                color: #55acee;
            }
        }
    }
    li:nth-child(4) {
        a:hover {
            .fa {
                color: #fff;
            }
        }
    }
    li:nth-child(5) {
        a:hover {
            .fa {
                color: #007bb5;
            }
        }
    }
}

@mixin computadora() {
    @media(max-width: #{$computadora}) {
        @content;
    }
}

@mixin tablet() {
    @media(max-width: #{$tablet}) {
        @content;
    }
}

@mixin celular() {
    @media(max-width: #{$telefono}) {
        @content;
    }
}