/*  Colores utilizados  */

$color_DarkBlue:rgba(11, 23, 38, 1);
$color_DarkBlue-5:rgba(11, 23, 38, .5);
$color_fondo_barra:rgba(45, 64, 89, 0.5);
$color_Yellow:rgba(252, 209, 95, 1);
$color_footer_Blue:rgba(23, 40, 61, 1);
$color_White:rgba(255, 255, 255, 1);

/*  Fuentes utilizadas  */

$font_Primary:'Lucida Fax';
$font_Console: 'Inconsolata',
monospace;
$font-footer: 'Dancing Script',
cursive;
$font-title-card: 'Fjalla One',
sans-serif;
$font-description-card: 'Lato',
sans-serif;
$font-banner: 'Merriweather Sans',
sans-serif;

/*  Puntos de quiebres  */

$computadora:1024px;
$tablet:768px;
$telefono:479px;