@import 'variables';
@import 'funciones';
* {
    --Whatsapp: #4dc247;
    --color_DarkBlue: rgba(11, 23, 38, 1);
    --color_fondo_barra: rgba(45, 64, 89, 0.5);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-whatsapp {
    background-color: #4dc247;
}

.bg-facebook {
    background-color: #3b5998;
}

.bg-linkedin {
    background-color: #55acee;
}

.bg-github {
    background-color: #0a0a0a;
}

.bg-twitter {
    background-color: #007bb5;
}

body {
    background-color: var(--color_DarkBlue);
    header {
        background-color: var(--color_fondo_barra);
        width: 100%;
        box-shadow: 5px 0 5px #000;
        .banner {
            button {
                display: flex;
                justify-content: space-around;
                width: 200px;
                border: none;
                background-color: var(--color_fondo_barra);
                color: #fff;
                padding: 10px;
                font-weight: bold;
                box-shadow: 3px 0 5px #000;
                border-radius: 0 50px 50px 0;
                cursor: pointer;
            }
            button:hover {
                box-shadow: 1px 0 2px #000;
            }
        }
    }
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            img {
                width: 100%;
                transform: scale(1.2);
            }
        }
        .page-not-found {
            padding: 50px;
            .card {
                border: 10px solid #fff;
                padding: 60px 20px;
                text-align: center;
                transform-style: preserve-3d;
                transition: .7s ease;
                border-radius: 10px;
                box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.65);
                h1 {
                    color: #fff;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
                ul {
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            i {
                                cursor: auto;
                                color: white;
                                font-size: 15em;
                                @include computadora() {
                                    font-size: 10em;
                                }
                                @include tablet() {
                                    font-size: 7em;
                                }
                                @include celular() {
                                    font-size: 3em;
                                }
                            }
                        }
                    }
                }
                span {
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 10px;
                }
            }
        }
        @include celular {
            flex-direction: column;
        }
    }
}